
#container {
  display: flex;
  flex-wrap: wrap;
  
}

#container > * {
  margin: 1rem;
  flex: 1;
  background-color: lightsteelblue;
  border-radius: 1rem;
  padding: 0.5rem;
  
}

li {
  list-style-type: none;
  border-style: solid;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  padding-bottom: 1rem;
}

ul {
  padding-left: 0;
}

h3 {
  text-decoration: underline;
}
